@charset "UTF-8";

/* 
    Paleta de cores
    Black
    white
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color:  #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    transition: width .3s, height .3s; /*animação de mudança de tamanho*/
    transition-timing-function: ease;/*para suavizar a mudança durante a animação*/
}

section#login > div#imagem {
    display: block;
    background: rgba(226, 215, 215, 0.165) url(../imagens/entrada.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2d6462;
    border: 1px solid #6cd3cf;
}

form > a.botao{
    display: block;
    padding-top: 7px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
}

form > a.botao:hover{
    background-color: #6cd3cf;
}

form > a.botao > span{
    font-size: 0.8em;
}